<ion-view view-title="Song">
  <ion-content>
    <ion-list>
      <ion-item class="item-input">
		<span class="input-label">Track</span>
    	<input type="text" ng-model="song.Track"></ion-item>
      <ion-item class="item-input">
		<span class="input-label">Title</span>
    	<input type="text" ng-model="song.Title"></ion-item>
      <ion-item class="item-input">
		<span class="input-label">Duration</span>
    	<input type="text" ng-model="song.Length"></ion-item>
    </ion-list>
  </ion-content>
</ion-view>
